/* Footer */

.socialmedia {
    text-align: center;
  }
  
  #facebook,
  #twitter,
  #instagram,
  #snapchat
  {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-decoration: none;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: rebeccapurple;
    color: white;
  }
  
  .fa-snapchat {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }